@import url("https://fonts.googleapis.com/css?family=Chewy|Roboto:100,300,400|Yellowtail");
* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li a {
    color: black;
}

a:hover {
    color: black !important;
    background-color: transparent !important;
    text-decoration: none;
}


/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar .container-fluid {
    padding: 0 50px;
}

.navbar ul li a svg {
    display: flex;
    margin: 0 auto;
    width: 35px;
}

.navbar ul li a span {
    display: block;
    margin-top: 5px;
    font-size: 1.5rem;
    font-family: "Chewy", sans-serif;
    color: #fff;
}

.navbar ul li a:hover span {
    color: #fbdb45;
}

.navbar ul a:hover .icon {
    fill: #fbdb45;
}

.navbar-default {
    background: transparent;
    border: 0;
}

.navbar-default.scrolled {
    background: #FF8000;
    border: 0;
    transition: all 0.3s ease-in-out;
}

.navbar-default.scrolled li a {
    padding: 20px 35px;
}

.navbar-header .navbar-toggle .icon-bar {
    background: #fff;
}

.navbar-header .navbar-toggle:hover .icon-bar {
    background: #888;
}

.navbar-header .navbar-brand img {
    width: 130px;
}

.navbar-default.scrolled .navbar-header .navbar-brand img {
    position: relative;
    margin-top: -17px;
}

.navbar-nav li a {
    padding: 45px 35px;
}


/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
    background: url("../image/hero.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    height: 655px;
}

.hero h3 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin: 0 auto;
    font-size: 80px;
    font-family: 'Yellowtail', cursive;
    text-align: center;
    color: white;
    transform: translate(0, -100%);
}

.hero p {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 37%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Chewy', cursive;
    font-size: 40px;
    color: #fff;
}


/*#####################################################################
about
#####################################################################*/

#about {
    padding: 80px 0;
}

.about .title img {
    width: 40px;
    height: 50px;
    margin-top: -30px;
}

.about h1 {
    font-family: 'Chewy', Cursive;
    display: inline;
    margin-left: 10px;
}

.about h1 span {
    color: #D91E18;
}

.about p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
}

.about .col-md-5 img {
    width: 100%;
    height: auto;
}

.about .col-md-7 {
    margin: 40px auto;
}

.about .decoration ul {
    text-align: center;
    width: 314px;
}

.about .decoration li:nth-child(2) {
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
    position: relative;
    top: 2px;
}

.about .decoration li {
    border: 1px solid #D91E18;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    margin: 10px 1px;
}


/*#####################################################################
menu
#####################################################################*/

.menu {
    background-image: url('../image/black.png');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    position: relative;
}

.menu .container-fluid {
    padding: 80px 0 120px;
}

.menu .title {
    text-align: center;
    padding: 0 0 60px;
}

.menu .title h2 {
    font-family: 'Chewy', Cursive;
    margin-left: 10px;
}

.menu .container-fluid .row img {
    height: 180px;
    width: 180px;
    display: flex;
    margin: 0 auto;
}

.menu .title img {
    margin-top: -25px;
}

.menu h2 {
    display: inline;
}

.menu .decoration li:nth-child(2) {
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
    position: relative;
    top: 2px;
}

.menu .decoration li {
    border: 1px solid #FFF;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    margin: 10px 1px;
}

.menu .row {
    margin: 0;
}

.menu .row figcaption {
    text-align: center;
    font-family: 'Chewy', Cursive;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 10px;
}

.menu+.nomargin {
    padding: 40px 0;
    background: white;
}


/*#####################################################################
gazebo
#####################################################################*/

#service {
    background-color: #f4f4f4;
    padding: 80px 0;
    text-align: center;
}

.service .judul {
    margin: 0 auto 60px;
}

.service .judul img {
    margin-top: -15px;
}

.service .judul h1 {
    display: inline;
    padding: 20px 0;
    font-family: 'Chewy', Cursive;
    text-align: center;
    font-weight: bold;
    margin-left: 10px;
}

.service h1 span {
    color: #D91E18;
}

.service .decoration li:nth-child(2) {
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
    position: relative;
    top: 2px;
}

.service .decoration li {
    border: 1px solid #D91E18;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    margin: 10px 1px;
}

.item_service {
    padding-top: 128px;
    display: inline-block;
    position: relative;
}

.item_service::before {
    border-bottom: 45px solid #ffffff;
    border-left: 0 solid transparent;
    border-right: 88px solid transparent;
    height: 0;
    width: 180px;
    position: absolute;
    content: "";
    left: 0;
    top: 84px;
}

.item_service::after {
    border-bottom: 45px solid #fff;
    border-right: 0 solid transparent;
    border-left: 88px solid transparent;
    height: 0;
    width: 180px;
    position: absolute;
    content: "";
    right: 0;
    top: 84px;
}

.item_service .icon {
    position: absolute;
    width: 100%;
    top: 27px;
    left: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.item_service .service_inner {
    background-color: #ffffff;
    padding: 0 30px 50px 30px;
}

.item_service .icon_inner {
    width: 100px;
    height: 55px;
    display: inline-block;
    background: #ffffff;
    position: relative;
}

.item_service .icon_inner::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #ffffff;
}

.item_service .icon_inner::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #ffffff;
}

.item_service .icon_inner i {
    font-size: 36px;
    line-height: 55px;
    color: #000000;
}

.item_service .icon_inner img {
    width: 46px;
    height: 55px;
    line-height: 55px;
}

.item_service:hover .icon {
    top: 35px;
}

.item_service h3 {
    display: inline-block;
    color: #21201e;
    margin-top: 30px;
    font-size: 24px;
    font-family: 'Chewy', sans-serif;
}

.item_service .content {
    margin-bottom: 35px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
}

.item_service .more {
    font-family: 'Roboto';
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    color: #21201e;
    border-bottom: 1px solid #80807f;
}

/*#####################################################################
gallery
#####################################################################*/

#gallery {
    padding: 80px 0 0;
}

#gallery .container-fluid {
  margin-bottom: 10px;
}

#gallery .title {
    padding: 0 0 50px;
    text-align: center;
}

#gallery .title img {
    width: 35px;
    height: 35px;
    margin-top: -12px;
}

#gallery h2 {
    font-family: 'Chewy', Cursive;
    text-align: center;
    font-weight: bold;
    display: inline;
    margin-left: 10px;
}

#gallery .title .decoration ul {
    text-align: center;
    margin-bottom: 0;
}

#gallery .title .decoration li:nth-child(2) {
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
    position: relative;
    top: 2px;
}

#gallery .title .decoration li {
    border: 1px solid #D91E18;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    margin: 10px 1px;
}

.gallery .col-sm-4 {
    padding: 0;
    margin: 7px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 32%;
}

.gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.image-popup-vertical-fit:hover img {
    -moz-transform: scale(1.1) rotate(0deg) translate(0px);
    -webkit-transform: scale(1.1) rotate(0deg) translate(0px);
    -o-transform: scale(1.1) rotate(0deg) translate(0px);
    transform: scale(1.1) rotate(0deg) translate(0px);
    /*opacity: 0.2;
  filter: alpha(opacity=20);*/
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}

.image-popup-vertical-fit .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

.image-popup-vertical-fit:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.image-popup-vertical-fit img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

.image-popup-vertical-fit:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}


/* ==========================================================================
   Footer
   ========================================================================== */

.informations {
    padding-top: 65px;
    padding-bottom: 85px;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    background: #1F1F1F;
    color: #fff;
}

.informations img {
    width: 25px;
    margin-right: 10px;
}

.informations .col-sm-6, .informations .col-md-12 {
    padding: 0;
}

.informations .number {
    font-size: 2rem;
}

.informations h2 {
    margin-bottom: 20px;
    font-family: "Chewy", sans-serif;
}

.tothetop {
    position: relative;
    display: block;
    width: 75px;
    margin: 0 auto;
    margin-top: -100px;
    margin-bottom: 35px;
}

.tothetop a:hover .textTothetop {
    fill: #fbdb45;
}

.social {
    float: left;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background: #2a2a2a;
    color: #fff;
}

.social .socialNetwork ul {
    float: left;
}

.social .socialNetwork ul {
    padding: 0;
    margin: 0;
}

.social .socialNetwork ul li {
    display: inline;
    list-style: none;
}

.social .socialNetwork ul li a {
    font-size: 3.5rem;
    color: #e74c3c;
}

.social .socialNetwork ul li a:hover {
    color: #fbdb45;
}

.social p {
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
}

.social p span {
    float: right;
}

.social .modal .modal-header h4 a {
    font-family: "Chewy", sans-serif;
    font-size: 3rem;
    color: #e74c3c;
    text-decoration: none;
}

.social .modal .modal-body a {
    margin-bottom: 15px;
    color: #e74c3c;
    text-decoration: none;
}

.social .modal .modal-body a p {
    text-align: left;
}


/* ==========================================================================
   Rensponsive
   ========================================================================== */

@media screen and (max-width: 1024px) {
    .gallery .col-sm-4 {
        width: 48%;
    }
}

@media screen and (max-width: 991px) {
    /* ==========================================================================
     Rensponsive Navbar
     ========================================================================== */
    .navbar-header {
        float: none;
        padding-bottom: 35px;
    }
    .scrolled .navbar-header {
        float: none;
        padding-bottom: 25px;
    }
    .navbar ul li a svg {
        display: flex;
        float: left;
        margin-right: 15px;
        width: 35px;
    }
    .navbar ul li a span {
        margin-top: 10px;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        margin-top: 50px;
    }
    .scrolled .navbar-toggle {
        display: block;
        margin-top: 35px;
        margin-bottom: 10px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav li {
        float: none;
    }
    .navbar-nav li a {
        padding: 18px;
    }
    .collapse.in {
        display: block !important;
    }
    .navbar-nav {
        padding-bottom: 35px;
    }
}

@media screen and (max-width: 767px) {
    /* ==========================================================================
     Rensponsive Navbar
     ========================================================================== */
    .scrolled .navbar-header {
        float: none;
        padding-bottom: 20px;
    }
    .navbar-header .navbar-brand img {
        width: 100px;
    }
    .scrolled .navbar-header .navbar-brand img {
        padding-top: 10px;
    }
    .navbar-toggle {
        display: block;
        margin-top: 35px;
    }
    .scrolled .navbar-toggle {
        display: block;
        margin-top: 30px;
    }
    /* ==========================================================================
     Rensponsive Footer
     ========================================================================== */
    .social .container {
        width: 100%;
        margin: 0;
    }
    .social p {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 480px) {
    /* ==========================================================================
     Rensponsive Footer
     ========================================================================== */
    .social .socialNetwork ul li a {
        font-size: 2rem;
    }
    .social p {
        margin-top: 5px;
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 375px) {
    /* ==========================================================================
     Rensponsive Navbar
     ========================================================================== */
    .scrolled .navbar-header {
        float: none;
        padding-bottom: 15px;
    }
    .navbar-toggle {
        display: block;
        margin-top: 25px;
    }
    .scrolled .navbar-toggle {
        display: block;
        margin-top: 22px;
    }
    .navbar-header .navbar-brand img {
        width: 80px;
    }
    /* ==========================================================================
     Rensponsive Footer
     ========================================================================== */
    .social .socialNetwork ul {
        float: none;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .social .socialNetwork ul li a {
        float: left;
        font-size: 2rem;
        clear: both;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    .social p {
        text-align: left;
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .col-md-7 {
        text-align: center;
    }

    .col-md-7 .decoration ul {
        width: 100%;
    }

    figure {
      margin: 20px 0;
    }

    .service .item_service::before {
        border-bottom-width: 75px;
        border-right-width: 150px;
    }
    .service .item_service::after {
        border-bottom-width: 75px;
        border-left-width: 150px;
    }
}

@media screen and (max-width:767px) {
    .hero h3 {
        top: 55%;
        font-size: 80px;
    }
    .about .col-md-5 img {
        margin: 0 auto 25px;
    }
    .about .col-sm-7 {
        text-align: center;
    }
    .about h2 {
        margin-bottom: 20px;
    }

    .service .col-sm-4 {
      width: 400px;
      margin: 0 auto 25px;
    }
}

@media screen and (max-width:700px) {
    .hero h3 {
        top: 55%;
        font-size: 80px;
    }
    .about .col-md-5 img {
        margin: 0 auto 25px;
    }
}

@media screen and (max-width:600px) {
  .service .col-sm-4 {
    width: 100%;
  }
}

@media screen and (max-width:399px) {
    .hero h3 {
        top: 70%;
        font-size: 80px;
    }

    .hero p {
      bottom: 18%;
    }
}
